
/*
font-family: 'News Cycle', sans-serif;
font-family: 'Amatic SC', cursive;

*/



body {
  background-color: #fff;
  margin: 0px;
  font-family: 'News Cycle', sans-serif;
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  background: rgba(165, 165, 165, .15);
  width: 25%;
  padding-left: 3%;

  font-weight: bold;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
color: #232323;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



















.coldbrews, .hot, .flavors {
  display: flex;

background-color: #ffffff;
}



.mainheader {
  background: #ffffff url('images/1.jpg') no-repeat center;
  height: 500px;
  background-size: cover;
  background-position: 20% 55%;
  font: 18px 'Amatic SC', cursive;

}

.maintitle {
  text-align: center;
  padding-top: 180px;
  font: 32px 'Amatic SC', cursive;
}

.mainheadertitlefont {
  color: #434343;
  font: 95px 'Amatic SC', cursive;
  font-weight: bold;
}

.titlefont {
  color: #e5af19;
  font: 34px 'Amatic SC', cursive;
  font-weight: bold;
}

.titlefontdark {
  color: #434343;
  font: 34px 'Amatic SC', cursive;
  font-weight: bold;
}

.customHr {
    width: 32%;
    font-size: .2px;
    color: rgba(0, 0, 0, 0);
    line-height: 2px;
    align: center;
    background-color: #e5af19;
    margin-top: -6px;
    margin-bottom: 10px;
}
/* -----------------------SECTIONS START -----------------------*/


.about {
  background: #B4C5E4;
  height: 340px;
  background-size: cover;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.menu {
  background: #016FB9 url('images/beans.jpg') center;
  height: 340px;
  background-size: cover;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.cupsizes {
  background: #353531;
  height: 340px;
  color: #c8c8c8;
  background-size: cover;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.locations {
  background:  url('images/woodgrain.jpg') no-repeat center;
  height: 300px;
  background-size: cover;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.pics {
  background: #016FB9;
  height: 340px;
  background-size: cover;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.footer {
  background: #353531;
  height: 140px;
  background-size: cover;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

/* -----------------------SECTIONS END -----------------------*/
